*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

header{
    background-color: #000
}

.navbar{
    display: flex;
    justify-content:space-around;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.logo:hover{
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.personal-nav-list{
    display: flex;
    align-items: center;
}

.personal-nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

.personal-nav-list a:hover{
    background-color: #fff;
    color: #000;
    padding: 5px;
    border-radius: 100px;
}

.nav-item{
    margin: 0 10px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
}

.social-nav-list{
    display: flex;
    align-items: center;
}

.social-nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav-list a{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.social-nav-list a:hover{
    background-color: #fff;
    color: #000;
    padding: 5px;
    border-radius: 100px;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

/*  HOME   */

h5{
    margin-top: 3%;
    font-size: 1.2rem;    
}

h1{
    font-size: 2.8rem;
}

p{
    font-size: 1.4rem;
}


/*  ABOUT   */

#about{
    display: flex;
    margin-top: 12%;
    margin-bottom: 12%;
}

.container-about{
    width: 50%;
    text-align: center;
}

#about .col-b{
    width: 50%;    
    justify-content: center;
    align-items: center;
}

#about img{
    width: 60%;
    height: 60%;    
    margin: 0% 10% 10% 10%; 
}

#about h2{
    color: #fff;
    margin: 5% 5% 5% 5%;  
    font-size: 2.5rem;
}

#about p{
    color: #fff;
    font-size: 1rem;
    text-align: justify;
    margin: 5% 10% 10% 5%;
}


/*   PROJECTS         */

#projects{
    border: 2px solid green;
}

#projects h2{
    color: #fff;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2.5rem;
}

.card{
    margin: 10px;
}

.card-text{
    text-align: center;
}

.btn-cards{
    color: #000;
    font-size: 1.5rem;
    padding: 5%;
}

.btn-cards:hover{
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}

    
@media (max-width: 720px){
    h5{
        margin-top: 0;
        font-size: 1.0rem;    
    }
    
    h1{
        font-size: 2.0rem;
    }
    
    p{
        font-size: 1rem;
    }
}

